@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .padding-layout {
    @apply 2xl:w-[1600px] xl:w-[1200px] lg:w-[1000px] md:w-full  m-auto px-4;
  }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}